*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFE6BF;
    --secondary-color: #FFC46A;
    --third-color: #DF8700;
    --fourth-color: #E89515;
    --fifth-color: #FF9A00;
}

body {
    /* On ajoute une hauteur au body de la taille de l'écran */
    height: calc(100vh - 100px);
    background-color: var(--primary-color);
    color: black;
}

header {
    background: var(--secondary-color);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

h2 {
    color: gray;
}

/* On active le module flex sur le container */
/* Cela à pour effet de transformer les articles en flex-item */
section {
    /* On ajoute une hauteur de 100% */
    height: 100%;
    display: flex;
    flex-direction: row; /* par défaut flex-direction est row, cette ligne ne sert donc à rien :) */
    justify-content: space-between;
    align-items: center; /* on align les flex-items sur l'axe secondaire */
}

article {
    /* On applique une hauteur et une largeur dans le but d'illustrer justify-content*/
    width: 200px;
    height: 145px;

    padding: 10px;
    margin: 10px;
    background: var(--secondary-color);
}

/* seulement pour l'esthétisme  */
article p {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
